<div class="card">
  <!-- <div class="modal show">
    <div class="modal-content">
      <span class="close" (click)="toggleModal()">&times;</span>
      <h1>Hourly Weather</h1>

      <ng-container *ngIf="isLoading; else dataContent">
        <p>Loading...</p>
      </ng-container>

      <ng-template #dataContent>
        <ul>
          <li *ngFor="let t of time; let i = index">{{ t }} - {{ temperature[i] }}°C</li>
        </ul>
      </ng-template>
    </div>
  </div> -->

  <div class="card-image">
    <figure class="image is-4by3">
      <img [src]="user?.picture?.large" alt="User Image">
    </figure>
  </div>

  <div class="card-content has-text-centered">
    <p class="title is-4">{{ user?.name?.title}} {{user?.name?.first}} {{user?.name?.last}}</p>

    <p class="subtitle is-6" *ngIf="user && user.gender !== undefined"
      [ngClass]="{'has-text-info': user.gender === 'male', 'has-text-danger': user.gender === 'female'}">
      {{ user.gender === 'male' ? 'Male' : 'Female' }}
    </p>

    <div class="is-flex my-5 is-flex-wrap is-justify-content-space-around">
      <!-- <button *ngIf="isSavedUsersRoute && isModalOpened" class="button is-success mx-3" (click)="toggleModal()">
        Show hourly weather
      </button> -->

      <button *ngIf="isCurrentUserInList() && isSavedUsersRoute" class="button is-danger mx-3" (click)="onClickDelete()"
        [disabled]="!isCurrentUserInList()">
        Delete user
      </button>

      <button *ngIf="!isSavedUsersRoute" class="button is-success" (click)="onClickSave()"
        [disabled]="isCurrentUserInList()">
        Save info
      </button>
    </div>

    <p class="title is-4">{{ user?.location?.city }}</p>
    <div class="is-flex is-justify-content-space-around" *ngIf="user?.weather">
      <span class="subtitle is-6">Min: <span class="has-text-weight-bold">{{ user?.minTemperature }}</span>
        <sup>o</sup>C </span>

      <span class="subtitle is-6">Current: <span class="has-text-weight-bold">{{
          user?.weather?.current_weather?.temperature }}</span> <sup>o</sup>C
      </span>
      <span class="subtitle is-6">Max: <span class="has-text-weight-bold">{{ user?.maxTemperature }}</span>
        <sup>o</sup>C </span>

      <div class="weather-info">
        <span class="has-text-weight-bold">
          {{ getWeatherInfo(user?.weather?.current_weather?.weathercode || 0).description }}
        </span>

        <span class="weather-icon" *ngIf="user?.weather">
          {{ getWeatherInfo(user?.weather?.current_weather?.weathercode || 0).icon }}
        </span>
      </div>
    </div>

  </div>

  <footer class="card-footer">
    <a href="mailto:{{ user?.email }}" class="card-footer-item is-link">{{ user?.email }}</a>
  </footer>

</div>
